# Visual Studio
.vs/
*.suo 
*.user 
*.userosscache 
*.sln.docstates 
*.builds 
*.pidb 
*.vsp 
*.log 
*.bak 
*.ncb 
*.opendb 
*.aps 
*.bsc 
*.sbr 
*.res 
*.pch 
*.ipch
# Build results
[Dd]ebug/ 
[Rr]elease/ 
[Bb]in/ 
[Oo]bj/ 
*.pdb 
*.ilk 
*.metaproj 
*.obj 
*.exe 
*.dll 
*.lib 
*.winmd 
*.appx 
*.msi 
*.msp 
*.ps1 
*.cache 
*.tlog 
*.trx 
*.vsdps 
*.testrunconfig 
*.testsettings
